<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>MyHealth Home</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font"
        crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font"
        crossorigin>

    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/myhealth-v2.css" rel="stylesheet">

    <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>
</head>

<body>
    <header class="nhsuk-header" role="banner">
        <div class="nhsuk-width-container nhsuk-header__container">
            <div class="nhsuk-header__logo">
                <a class="nhsuk-header__link" href="/service/myhealth-home" aria-label="NHS homepage">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="95"
                        height="42.66" viewBox="0 0 167 75">
                        <defs>
                            <style>
                                .a {
                                    clip-path: url(#b);
                                }

                                .b,
                                .d {
                                    fill: #fff;
                                }

                                .b {
                                    font-size: 30px;
                                    font-family: GillSans, Gill Sans;
                                }

                                .c {
                                    font-family: GillSans-SemiBold, Gill Sans;
                                    font-weight: 600;
                                }
                            </style>
                            <clipPath id="b">
                                <rect width="167" height="75" />
                            </clipPath>
                        </defs>
                        <g id="a" class="a">
                            <text class="b" transform="translate(37 57)">
                                <tspan x="0" y="0">my</tspan>
                                <tspan class="c" y="0">Health</tspan>
                            </text>
                            <path class="d" d="M657-821v-6h-6v-4h6v-6h4v6h6v4h-6v6Z" transform="translate(-640 847)" />
                            <text class="b" transform="translate(37 57)">
                                <tspan x="0" y="0">my</tspan>
                                <tspan class="c" y="0">Health</tspan>
                            </text>
                            <path class="d" d="M657-821v-6h-6v-4h6v-6h4v6h6v4h-6v6Z" transform="translate(-640 847)" />
                        </g>
                    </svg>
                </a>
            </div>

            <div class="nhsuk-header__content" id="content-header">
                <div class="nhsuk-header__menu nhsuk-header__menu--only">
                    <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation"
                        aria-label="Open menu">Menu</button>
                </div>
            </div>
        </div>

        <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation"
            aria-labelledby="label-navigation">
            <p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
                <button class="nhsuk-header__navigation-close" id="close-menu">
                    <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        aria-hidden="true" focusable="false">
                        <path
                            d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z">
                        </path>
                    </svg>
                    <span class="nhsuk-u-visually-hidden">Close menu</span>
                </button>
            </p>
            <ul class="nhsuk-header__navigation-list">
                <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--for-mobile">
                    <a class="nhsuk-header__navigation-link" href="/">
                        Home
                        <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="../service/myhealth-home">
                        Health
                        <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="../service/myhealth-home">
                        Dental
                        <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="../service/myhealth-home">
                        Elderly care
                        <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="../service/myhealth-home">
                        Travel
                        <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="../service/myhealth-settings">
                        Settings
                        <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

    </header>

    <section class="nhsuk-hero nhsuk-hero--image nhsuk-hero--image-description"
        style="background-image: url('/images/cardiologyBanner.jpg');">
        <div class="nhsuk-hero__overlay">
            <div class="nhsuk-width-container">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <div class="nhsuk-hero-content">
                            <h1>Welcome to myHealth</h1>

                            <span class="nhsuk-hero__arrow" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="nhsuk-width-container {{ containerClasses }}">
        <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                    <div class="nhsuk-grid-row nhsuk-panel-group">
                        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
                            <div class="nhsuk-panel">
                                <h3>Sign in</h3>
                                <p>Use NHS Login to access your health records</p>
                                <!-- The OIDC journey starts with the "/authorize" endpoint, which receives the OIDC parameters, a set of requested scopes and a client_id -->
                                <a
                                    href="https://auth.sandpit.signin.nhs.uk/authorize?scope=openid%20profile%20nhs_app_credentials%20gp_integration_credentials&client_id=nhslogin_testclient&redirect_uri=http://localhost:2000/callback&response_type=code&state=appstate&nonce=randomnonce">
                                    <img width="250" src="images/SignInWith_Original@2x.png" />
                                </a>
                            </div>
                        </div>
                        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
                            <div class="nhsuk-panel">
                                <h3>Healthy weight</h3>
                                <p>Check your BMI using our healthy weight calculator and find out if you're a healthy
                                    weight</p>
                            </div>
                        </div>
                        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
                            <div class="nhsuk-panel">
                                <h3>Love cats</h3>
                                <p>Find out how and why cats can be beneficial to your health </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer role="contentinfo">
        <div class="nhsuk-footer" id="nhsuk-footer">
            <div class="nhsuk-width-container">
                <p class="nhsuk-footer__copyright">© NHS Login demo</p>
            </div>
        </div>
    </footer>

</html>